@model ConfiginatorWeb.Models.Configuration.CreateConfiguration

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Create a Configuration Section</h2>

<form asp-action="Create">
    @Html.AntiForgeryToken();
    @Html.EditorForModel()
    @Html.ValidationSummary()
    <input type="submit" value="Create"/>
</form>
