@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ConfiginatorWeb.Interactors.Queries.Section.AddSectionIndexQueryResponse

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Create a Configuration Section</h2>

<form asp-action="Create">
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">
            <div class="col-1">
                <label for="path">Namespace</label>
            </div>
            <div class="col-1">
                <input name="Namespace" class="form-text" id="namespace"/>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <label for="name">Name</label>
            </div>
            <div class="col"-1>
                <input name="Name" class="form-text" id="name"/>
            </div>
        </div>
        @Html.ValidationSummary()
        <input type="submit" value="Create" class="btn btn-primary"/>
    </div>
</form>