@using ConfiginatorWeb.Controllers
@model ConfiginatorWeb.Controllers.AddSchemaModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var view = (AddSchemaViewModel) ViewData["view"];
}

<h1>Add a Schema to a Section</h1>
<p>Section: @view.Section.SectionName</p>
<form method="post">
    @Html.AntiForgeryToken()
    <h2>Schema</h2>
    Schema Name:&nbsp;&nbsp;@Html.TextBoxFor(m => m.Name)<br/>
    The schema name is of the format: <code>name/semantic-version</code>. IE: <code>/my/configuration/section/1.0.0</code>
    <br/><br/>
    @Html.TextAreaFor(m => m.Schema, new {style = "width:100%;height:300px;"})
    <button class="btn btn-primary" type="submit">Create</button>
</form>