@using Newtonsoft.Json
@using Allard.Configinator.Core
@model IEnumerable<Allard.DomainDrivenDesign.IDomainEvent>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Events</h2>
<p>These are the underlying event-sourcing events, not publicly published domain events.</p>

<table class="table table-bordered">
    @foreach (var e in Model.OrderByDescending(e => e.EventDate))
    {
        <tr>
            <td>@e.EventDate.ToString("dddd, MMM dd yyyy HH:mm:ss")</td>
            <td>@e.GetType().Name</td>
            <td>
                <pre>@ModelJsonUtility.Serialize(e)</pre>
            </td>
        </tr>
    }
</table>